body {
  margin: 0;
  padding: 0;
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  width: 100vw;
}
.education-card {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(182, 152, 226, 0.712);
  height: 900px;
  width: 500px;
  margin-bottom: 50px;
}

.education-name {
  color: black;
  font-size: 15px;
}

p {
  font-size: 15px;
  color: black;
  font-weight: 400;
  text-align: center;
}

.icon {
  margin-top: 20px;
  font-size: 20px;
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
  .education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .education-card {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    height: 900px;
    width: 350px;
    margin-bottom: 50px;
  }

  .education-name {
    color: black;
    font-size: 15px;
    padding: 10px;
  }

  p {
    font-size: 15px;
    color: black;
    font-weight: 400;
    text-align: center;
  }

  .icon {
    margin-top: 20px;
    font-size: 20px;
    color: whitesmoke;
  }
}
