body {
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100vh;
  width: 100vh;
}
.myInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.myCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(182, 152, 226, 0.712);
  margin-right: 30px;
  height: 600px;
  width: 500px;
}
.myInfo-name {
  font-size: 20px;
}

img {
  width: 150px;
  margin: 20px;
  border-radius: 20px;
}
h2 {
  color: black;
  text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
}

.contact {
  color: #151238;
  text-decoration: none;
}

.contact:hover {
  background-color: rgb(101, 48, 185);
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
  .myInfo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .myCard {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    height: 500px;
    width: 350px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .myInfo-name {
    font-size: 15px;
  }

  img {
    width: 100px;
    margin: 20px;
    border-radius: 10px;
  }

  .contact {
    color: #151238;
    text-decoration: none;
  }
  .contact:hover {
    color: rgba(156, 117, 219, 0.795);
  }
}
