body {
  margin: 0;
  padding: 0;
}

.more-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  width: 100vw;
}
.more-card {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(182, 152, 226, 0.712);
  height: 900px;
  width: 500px;
  margin-bottom: 50px;
}

.more-languages {
  font-size: 15px;
  color: black;
  font-weight: 400;
  text-align: center;
}
h4 {
  font-size: 20px;
}

.icon {
  margin-top: 20px;
  font-size: 20px;
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
  .more-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .more-card {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: 500px;
    width: 350px;
  }

  .more-languages {
    font-size: 10px;
    font-weight: 400;
  }
  h4 {
    font-size: 20px;
  }

  .icon {
    margin-top: 20px;
    font-size: 20px;
  }
}
