body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: rgb(37, 8, 83);
  height: 70px;
  width: 100vw;
}
.nav-logo {
  margin-left: 50px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin-top: 5px;
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
  .nav-logo {
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-top: 10px;
  }
}
