body {
  margin: 0;
  padding: 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.about-name {
  margin-top: 150px;
}
.about-card {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  background-color: rgba(182, 152, 226, 0.712);
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-info {
  color: black;
  font-size: 15px;
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .about-name {
    margin-top: 150px;
  }
  .about-card {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-info {
    color: black;
    font-size: 14px;
  }
}
